# Ignore the favicon folder
/favicon/

# Ignore the SQLite database file
projects.db

# Ignore the Doxygen generated documentation
docs/html/
docs/latex/
logs/
vendor/

# Sauvegardes favicons
public/favicon-*/*.*
!public/favicon/favicon.png

# Sauvegardes bases SQLite
projects-*.db